.main {
  table-layout:fixed !important;
  margin-top: 100px !important;
  margin-bottom: 50px !important;
  margin: 0 auto;
  width: 600px;
  width: fit-content;
  text-align: center;
}

a, a:hover, a:visited, a:active {
  color: inherit;
}
