<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div style="text-align: center;">
        <h2> Update or Delete Contact</h2>
        <form class="col-sm-offset-3 col-sm-6" action="#" th:action="@{/{id}(id=${contact.id})}" th:object="${contact}"
              th:method="put">
            <input type="hidden" name="_method" value="put">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{name}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{surname}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{email}">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" th:field="*{phone}">
            </div>
            <div class="form-group">
                <div class="col-6 align-self-center">
                    <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" onclick="document.getElementById('delete-element').submit();"
                                class="btn btn-danger">Delete
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form class="form-horizontal" id="delete-element" th:action="@{/{id}(id=${contact.id})}" th:method="delete"
              style="float: left;">
            <input type="hidden" name="_method" value="delete">
        </form>
    </div>
</div>
</body>
</html>