<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<div>
    <h1> Contact </h1>
    <hr>
    <h2> Update or Delete Contact</h2>

    <div>
        <form action="#" th:action="@{/{id}(id=${contact.id})}" th:object="${contact}" th:method="put">
            <input type="hidden" name="_method" value="put">
            <input type="text" th:field="*{name}">
            <input type="text" th:field="*{surname}">
            <input type="text" th:field="*{email}">
            <input type="number" th:field="*{phone}">

            <button type="submit">Update</button>
        </form>
    </div>

    <form th:action="@{/{id}(id=${contact.id})}" th:method="delete">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete<a th:href="@{/}"></a></button>

    </form>
</div>
</body>
</html>